:root {
    --font-size: 16px;
    --font-family: "Frutiger 65", Helvetica, Arial;
    --primary-background-color: #000;
    --secondary-background-color: #333;
    --violet-color: #A259FF;
    --violet-color-darken-20: color-mix(in oklch shorter hue, var(--violet-color) 80%, transparent);
    --green-color: #2ECC71;
    --green-color-darken-20: color-mix(in oklch shorter hue, var(--green-color) 80%, transparent);
    --yellow-color: #FF8C00;
    --yellow-color-darken-20: color-mix(in oklch shorter hue, var(--yellow-color) 80%, transparent);
    --primary-color: #ccc;
    --secondary-color: #fff;

    --max-panel-size: 448px;
    --min-panel-size: 224px;

    color-scheme: dark;
    background-color: transparent;
}

h1 {
    color: var(--violet-color);
}

body {
    margin: 0;
    font-family: var(--font-family), sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    font-size: var(--font-size);
}

#main {
    display: flex;
    gap: 0.5em;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
}

.central-pane {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.panel-wrapper {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    flex-basis: auto;

    .panel-resize-handler {
        display: flex;
        flex-shrink: 0;
        background-color: var(--violet-color);
        position: relative;
        height: 100%;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--primary-background-color);
            border: 1px solid var(--violet-color);
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: var(--green-color);

            &::after {
                border-color: var(--green-color);
                background-color: color-mix(in oklch shorter hue, var(--green-color) 25%, var(--primary-background-color));
            }
        }

        .panel-resize-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    }

    &:has(> .closed) {
        display: none;
    }

    &:has(> .side-panel) {
        max-width: var(--max-panel-size);
        min-width: var(--min-panel-size);

        .panel-resize-handler {
            width: 1px;

            &::after {
                height: 4em;
                width: .5em;
                top: 50%;
            }
        }
    }

    &:has(> .bottom-panel) {
        max-height: var(--max-panel-size);
        min-height: var(--min-panel-size);

        .panel-resize-handler {
            height: 1px;

            &::after {
                height: .5em;
                width: 4em;
                left: 50%;
            }
        }
    }
}

.panel {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: auto;
    background-color: var(--primary-background-color);
    width: 100%;
    height: 100%;

    &.bottom-panel {
        max-height: var(--max-panel-size);
        height: 288px;
        min-height: var(--min-panel-size);
    }
    &.side-panel {
        max-width: var(--max-panel-size);
        width: 288px;
        min-width: var(--min-panel-size);
    }

    &.side-panel .panel-header.minimised {
        writing-mode: sideways-lr;
        height: 100%;
    }

    &:has(> .minimised) {
        width: auto;
        height: auto;
        min-width: 0;
        min-height: 0;
    }

    .panel-body {
        height: inherit;
        padding: 1em;
    }

    &.closed {
        display: none;
    }

    .panel-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25em;
        border-bottom: 1px solid var(--violet-color);
        font-weight: 700;
        color: var(--violet-color);

        .panel-header-button-group {
            display: flex;
            gap: 0.5em;
            order: 2;
        }

        button {
            height: 1.5em;
            width: 1.5em;
            padding: 0;
            border: 0;
            font-size: 1em;
            background: none;
            color: inherit;
            outline: 1px solid currentColor;

            svg {
                height: 1.5em;
                width: 1.5em;
                fill: currentColor;
                stroke: currentColor;
            }

            &:hover {
                color: var(--green-color);
                background-color: color-mix(in oklch shorter hue, currentColor 25%, transparent);
                outline: 1px solid currentColor;
            }
        }
    }
}

.main-panel {
    height: 100%;
    flex-shrink: 1;

    h1 {
        margin-top: 0;
    }
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.plugin-list-entry {
    cursor: pointer;
}

.plugin-error {
    font-family: var(--font-family), sans-serif;
    color: var(--yellow-color);
}