.idea
target

# Secrets
.certs/
token

# Dynamic content
frontend/plugins/*
!frontend/plugins/5e61/
!frontend/plugins/5e61/**
!frontend/plugins/a11e/
!frontend/plugins/a11e/**

# Test files
frontend/www-root/assets/test.css

# Temp files
backend/src/build.rs

# I don't know what this is
frontend/www-root/assets/dx-components-theme.css
